<div ng-include="'app_modules/map/map.html'" ng-controller="MapCtrl" class="map-ctrl"></div>
<div ng-include="'app_modules/market/market.html'" ng-controller="MarketCtrl" class="market-ctrl"></div>
<div ng-controller="InitCtrl"></div>