/* app css stylesheet */

.market-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  position: fixed;
  background-color: rgba(10, 10, 10, 0.5);
}

.market-items-search-input {
  margin-left: 15px;
}

.market-items-table tbody {
  overflow-y: auto;
  height: 350px;
  display: block;
}

.market-items-table.market-items-table-long tbody {
  height: 500px;
}

.market-items-table tr {
  display: flex;
}

.market-items-table td,
.market-items-table th {
  flex: 1;
}

.market-items-table thead tr:after {
  content: '';
  overflow-y: scroll;
  visibility: hidden;
  height: 0;
}

.market-items-table tbody td {
  cursor: pointer;
}

.market-items-table .market-item-selected {

}

.market-tabset > button.close {
  margin: 10px 10px 0px 0px;
}

.market-transaction-number-input-box .btn {
  color: white;
  background-color: #ddd;
}

.market-transaction-number-input-box .btn:hover,
.market-transaction-number-input-box .btn:focus {
  color: white;
  background-color: #bbb;
}

.market-transaction-over-budget {
  color: red;
}

.market-transaction-panel {
  border: 1px solid #ddd;
  border-radius: 0px;
  border-top-width: 0px;
}