<div class="market-overlay" ng-init="initMarket()" ng-hide="marketOverHidden" ng-init="marketOverHidden = false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="marketOverHidden = true"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Local market</h4>
            </div>
            <div class="modal-body">
                <div class="market-items-search">
                    <div class="market-items-search-input pull-right">
                        <input type="text" class="form-control" placeholder="Search by name" ng-model="$parent.searchText" />
                    </div>
                    <div uib-dropdown class="btn-group pull-right">
                      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        Filter by type <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="#">All</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Fuel</a></li>
                        <li role="menuitem"><a href="#">Ore</a></li>
                        <li role="menuitem"><a href="#">Metal</a></li>
                      </ul>
                    </div>
                </div>
                <table class="table table-striped table-hover market-items-table" ng-class="{ 'market-items-table-long': $parent.transactionPanelHidden }">
                    <thead>
                        <tr>
                            <th>Resource</th>
                            <th>Type</th>
                            <th>Buy price</th>
                            <th>Sell price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="resource in tradableResources | filter:searchResource" ng-click="selectResource(resource)"
                            ng-class="{info: selectedResource.resName == resource.resName}">
                            <td>{{ resource.resName }}</td>
                            <td>{{ resource.resType }}</td>
                            <td>{{ resource.buyPrice | round4 }}</td>
                            <td>{{ resource.sellPrice | round4 }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="market-tabset" ng-hide="$parent.transactionPanelHidden">
                    <button type="button" class="close" ng-click="$parent.transactionPanelHidden = true; $parent.selectedResource = null">
                        <span aria-hidden="true">&times;</span></button>
                    <uib-tabset active="activeTransactionTabIdx">
                        <uib-tab select="updateActiveTransactionTabIdx($index)" index="$index" heading="{{ transactionType }}" ng-repeat="transactionType in transactionTypes">
                            <div class="panel market-transaction-panel">
                                <div class="panel-body">
                                    <div class="form-group row">
                                        <h5 class="col-md-3">
                                            Amount: <span>{{ $parent.transactionAmount }} / {{ $parent.maxTransactionAmount }}</span>
                                        </h5>
                                        <div class="col-md-6">
                                            <div ng-init="hideNumberInput = true" ng-hide="!hideNumberInput">
                                                <button type="button" class="btn btn-default" ng-click="setTransactionAmount(0)">0</button>
                                                <button type="button" class="btn btn-default" ng-click="increaseTransactionAmount(1)">+1</button>
                                                <button type="button" class="btn btn-default" ng-click="increaseTransactionAmount(10)">+10</button>
                                                <button type="button" class="btn btn-default" ng-click="increaseTransactionAmount(100)">+100</button>
                                                <button type="button" class="btn btn-default" ng-click="increaseTransactionAmount(1000)">+1000</button>
                                                <button type="button" class="btn btn-default" ng-click="setTransactionAmount(maxTransactionAmount)">Max</button>
                                                <button type="button" class="btn btn-default"
                                                        ng-click="hideNumberInput = !hideNumberInput">...</button>
                                            </div>
                                            <div ng-hide="hideNumberInput" class="form-inline market-transaction-number-input-box text-center">
                                                <input type="number" class="form-control" ng-model="customTransactionAmount" ng-init="customTransactionAmount = 0" min="0"  />
                                                <button type="button" class="glyphicon glyphicon-ok btn"
                                                        ng-click="hideNumberInput = !hideNumberInput; setTransactionAmount(customTransactionAmount)"></button>
                                                <button type="button" class="glyphicon glyphicon-remove btn"
                                                        ng-click="hideNumberInput = !hideNumberInput"></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div>Unit price: {{ unitPrice }}</div>
                                            <div>Total value: {{ $parent.transactionAmount * unitPrice }}</div>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-primary">{{ transactionType }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="2" heading="Other"></uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>