<div class="map-window" ng-init="initMap()">
    <div class="map-content" ng-style="{'top': mapScrollOffset.top + 'px' }">
        <div class="surface"></div>
        <div class="driller" ng-style="{'top': driller.top + 'px', 'left': driller.left + 'px' }"></div>
        <div class="map-blocks">
            <div class="map-block" ng-repeat="block in blocks" ng-style="{'background-color': block.content.mapColor}">
                <div ng-if="block.resource" class="map-block-resource" ng-style="{'background-color': block.resource.mapColor}"></div>
            </div>
        </div>
    </div>
</div>