/* app css stylesheet */

.map-window {
  width: 1000px;
  height: 800px;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  box-sizing: content-box;
}

.map-content {
  position: absolute;
}

.map-blocks {
}

.map-block {
  float: left;
  width: 50px;
  height: 50px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.map-block-resource {
  height: 100%;
  width: 100%;
}

.surface {
  height: 100px;
  background: linear-gradient(#48E, #DDF);
}

.driller {
  float: left;
  width: 50px;
  height: 50px;
  background-color: #E73333;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: absolute;
}